@font-face {
  font-family: shabnam;
  src: url(/fonts/Shabnam.woff) format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: shabnam;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.input {
  font-family: shabnam;
}

.input[type="tel"]::placeholder {
  direction: rtl;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 30px 50px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.input {
  padding: 8px;
  width: 100%;
  font-size: 12px;
}

input.input-name {
  padding: 8px;
  font-size: 12px;
}

.title-head {
  font-size: 12px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

form.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea.input {
  height: 5rem;
}

.shaba {
  position: relative;
}

.shaba-icon {
  position: absolute;
  left: 12px;
  top: 31px;
}

.gender {
  display: flex;
  gap: 30px;
}

.fullname {
  display: flex;
  gap: 16px;
}

.input {
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="number"]::-webkit-input-placeholder {
  text-align: right;
}

.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.profile-label {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

.label {
  border-radius: 4px;
  display: flex;
  padding: 4px 6px;
  gap: 0.3rem;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.button-add-change {
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  font-family: shabnam;
  background: rgba(0, 0, 0, 0.3);
}

.input-checkbox-img {
  display: none;
}

.input-add-img {
  display: none;
  cursor: pointer;
}

.input-file {
  max-width: 100%;
  padding: 7px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.add-change {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.email:invalid {
  border: 2px solid red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.label-input {
  font-size: smaller;
}

.img-zoom-in {
  position: absolute;
  display: flex;
  justify-content: center;
  left: -5rem;
  top: -9rem;
  display: none;
}

.input-checkbox-img:checked ~ .img-zoom-in {
  display: flex;
}

.label-checkbox-input {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.img-profile {
  position: relative;
}

.icon-fullscreen {
  color: #eee;
  padding: 2px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
